body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* font-size: 14px; */
  font-size: 13px;
  background-color: #DBD9D9;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

.material-icons, .incompatible{
  color: #C94E4E;
}

#logo{
  /* display: block; */
  /* margin: auto; */
  width: 80%
}
/* 
#logo {
  color: #5050D4;
  font-size: 30px;
} */
/* 
.home{
  font-size: 100%;;
} */

/* #id{
  background-color: black;
}

.homeRegister{
  margin: 20%;
} */

#navLogo {
  display: block;
  margin: auto;
  width: 40%;
}

.buttons {
  display: block;
  margin: auto;
  width: 60%
}

#navLogout {
  float: right;
}

#createButton {
  /* display: inline-block; */
  color: white;
  background-color: #01A701;
  font-size: 20px;
  font-weight: bold;
  margin-top: 6%;
  float: right;
}

#myBuilds{
  display: inline-block
}

h1 {
  font-family: 'Palanquin Dark', sans-serif;
}

.buildLabel {
  font-size: 11px;
  color: #6E78A3;
  font-weight: bold;
}
.md-flex{
  position:fixed;
  width: 100%;
  background-color: #3937D3
}
#homeLogo{
  width: 75%;
  margin: 0% 12%;
}

.navbar{
  background-color: #6E78A3;
}

.detailsEdit {
  background-color: grey;
}

md-card {
  width: 358px;
  height: 180px;
  background-color: #FFFFFF;
}

.detailsCard {
  width: 325px;
  height: 200px;
}