<div class="navbar">
    <div><span><img id="navLogo" src="/styles/PCitTogetherLogo.png"></span></div>
    <!-- <md-button class="md-raised md-primary  " href="#/builds">My Builds</md-button>
    <md-button class="md-raised md-primary" href="#/others">See Others</md-button> -->
    <!-- <md-button id="navLogout" class="md-raised md-warn" ng-click="uc.userService.logout()"> Log Out
        <md-icon class="material-icons">exit_to_app</md-icon> -->
    <!-- </md-button> -->
</div>
<!-- <div id="logo">PC It </br>T<md-icon>power_settings_new</md-icon>gether</div> -->