<!-- <div class="container"> -->
    <h1 class="lead">PC Together</h1>
    <button class="btn btn-danger" ng-click="uc.userService.logout()">Log Out</button>
<!-- </div> -->
<!-- <div class="navbar"> -->
  <!-- <div class="container"> -->
      <!-- <div class="btn-group">
          <a href="#/builds" class="btn btn-default">My Builds</a>
          <a href="#/others" class="btn btn-default">See Others</a>
      </div> -->
      <!-- <button class="btn btn-danger" ng-click="uc.userService.logout()">Log Out</button> -->
    <!-- <ul>
      <li><a href="#/user">User Home</a></li>
      <li><a href="#/info">Info Page</a></li>
    </ul> -->
  <!-- </div> -->
<!-- </div> -->
