<div ng-include="'views/partials/nav.html'"></div>
<md-button href="#/builds" ng-disabled="true" class="md-primary md-raised">My Builds</md-button>
<md-button href="#/others" md-no-ink class="md-primary md-raised">See Others</md-button>
<!-- <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-href="#/builds" name="builds">
            My Builds
        </md-nav-item>
        <md-nav-item md-nav-href="#/others" name="others">
            See Others
        </md-nav-item>
    </md-nav-bar>
</md-content> -->
<!-- <div class="btn-group">
    <a href="#/builds" class="btn btn-default active">My Builds</a>
    <a href="#/others" class="btn btn-default">See Others</a>
</div> -->
<h1>My builds</h1>
<!-- {{uc.userService.buildsObject[0].cpu}} -->
<ul ng-repeat="build in uc.userService.buildsObject">
    <li>
        <md-button class="md-raised" ng-click="showBuild = ! showBuild">{{build.name}}</md-button>
        <!-- <div ng-hide="hideBuilds"> -->
            <!-- <div>
                <md-button class="md-raised md-primary " ng-click="showBuild = ! showBuild">{{build.name}}</md-button>
            </div> -->
            <div ng-show="showBuild">
                <md-content>
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <label>CPU</label>
                                <div>{{build.cpu.name}}</div>
                            </div>
                            <!-- {{build.cpu.socket}} {{build.mobo.socket}} -->
                        </md-list-item>
                    </md-list>
                </md-content>
                <md-content>
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <label>Motherboard</label>
                                <div>{{build.mobo.name}}</div>
                            </div>
                        </md-list-item>
                        <div class="incompatible" ng-show="{{build.cpu.socket}} =! {{build.mobo.socket}}"> 
                            <md-icon class="material-icons" class="incompatible">warning</md-icon> CPU({{build.cpu.socket}}) and Motherboard({{build.mobo.socket}}) are incompatible</div>
                    </md-list>
                </md-content>
                <md-content>
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <label>Ram</label>
                                <div>{{build.ram.name}}</div>
                            </div>
                        </md-list-item>
                        <div class="incompatible" ng-show="{{build.mobo.memory}} =! {{build.ram.socket}}"> 
                            <md-icon class="material-icons" class="incompatible">warning</md-icon> RAM({{build.ram.socket}}) and Motherboard({{build.mobo.memory}}) are incompatible</div>
                    </md-list>
                </md-content>
                <md-content>
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <label>CPU Fan</label>
                                <div>{{build.fan.name}}</div>
                            </div>
                        </md-list-item>
                        {{build.fan.socket}}  {{build.mobo.socket}}
                        <div class="incompatible" ng-show="{{build.mobo.socket}} =! || == {{build.fan.socket}}"> 
                            <md-icon class="material-icons" class="incompatible">warning</md-icon> CPU Fan({{build.fan.socket}}) and Motherboard({{build.mobo.socket}}) are incompatible</div>
                    </md-list>
                </md-content>
                <md-content>
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <label>Graphics Card</label>
                                <div>{{build.gpu}}</div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
                <md-content>
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <label>Power Supply</label>
                                <div>{{build.psu}}</div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
                <md-content>
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <label>Sound Card</label>
                                <div>{{build.sound}}</div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
                <md-content>
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <label>Case</label>
                                <div>{{build.case.name}}</div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
                <!-- <md-button class="md-disabled md-raised" ng-click="editBuild = ! editBuild; uc.toggleUpdate(build); hideBuilds = ! hideBuilds ">Edit</md-button> -->
                <md-button class="md-raised md-primary" ng-href="/#/details/{{build._id}}"> <md-icon class="material-icons">build</md-icon> Edit</md-button>
                <md-button class="md-warn md-raised" ng-click="uc.deleteBuild(build._id)"> <md-icon class="material-icons">delete</md-icon> Delete</md-button>

            </div>
        <!-- </div> -->
        <!-- <div ng-show="editBuild">
            <form ng-model="uc.changeBuild">
                <md-content layout-gt-sm="row" layout-padding>
                    <div>
                        <md-input-container>
                            <label>Name</label>
                            <input ng-model="build.name">
                        </md-input-container>
                        <md-content layout-padding>
                            <div>
                                <div layout-gt-xs="row">
                                    <md-input-container class="md-block" flex-gt-xs>
                                        <label>CPU</label>
                                        <input ng-model="build.cpu">
                                        <select ng-model="build.cpu"><option ng-repeat="cpu in uc.userService.parts" ng-if="cpu.type == 'cpu'">{{cpu.name}}</option></select>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row">
                                    <md-input-container class="md-block" flex-gt-xs>
                                        <label>Motherboard</label>
                                        <input ng-model="build.mobo">
                                        <select ng-model="build.mobo"><option ng-repeat="mobo in uc.userService.parts" ng-if="mobo.type == 'mobo'">{{mobo.name}}</option></select>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row">
                                    <md-input-container class="md-block" flex-gt-xs>
                                        <label>RAM</label>
                                        <input ng-model="build.ram">
                                        <select ng-model="build.ram"><option ng-repeat="ram in uc.userService.parts" ng-if="ram.type == 'ram'">{{ram.name}}</option></select>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row">
                                    <md-input-container class="md-block" flex-gt-xs>
                                        <label>CPU Fan</label>
                                        <input ng-model="build.fan">
                                        <select ng-model="build.fan"><option ng-repeat="fan in uc.userService.parts" ng-if="fan.type == 'fan'">{{fan.name}}</option></select>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row">
                                    <md-input-container class="md-block" flex-gt-xs>
                                        <label>Power Supply</label>
                                        <input ng-model="build.psu">
                                        <select ng-model="build.psu"><option ng-repeat="psu in uc.userService.parts" ng-if="psu.type == 'psu'">{{psu.name}}</option></select>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row">
                                    <md-input-container class="md-block" flex-gt-xs>
                                        <label>Graphics Card</label>
                                        <input ng-model="build.gpu">
                                        <select ng-model="build.gpu"><option ng-repeat="gpu in uc.userService.parts" ng-if="gpu.type == 'gpu'">{{gpu.name}}</option></select>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row">
                                    <md-input-container class="md-block" flex-gt-xs>
                                        <label>Sound Card</label>
                                        <input ng-model="build.sound">
                                        <select ng-model="build.sound"><option ng-repeat="sound in uc.userService.parts" ng-if="sound.type == 'sound'">{{sound.name}}</option></select>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row">
                                    <md-input-container class="md-block" flex-gt-xs>
                                        <label>Case</label>
                                        <input ng-model="build.case">
                                        <select ng-model="build.case"><option ng-repeat="case in uc.userService.parts" ng-if="case.type == 'case'">{{case.name}}</option></select>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row">
                                    <md-input-container class="md-block" flex-gt-xs>
                                        <label>Storage</label>
                                        <input ng-model="build.storage">
                                        <select ng-model="build.storage"><option ng-repeat="storage in uc.userService.parts" ng-if="storage.type == 'storage'">{{storage.name}}</option></select>
                                    </md-input-container>
                                </div>
                                <div>
                                    <md-input-container>
                                        <md-switch ng-model="build.sharing">Sharing {{build.sharing ? "Enabled" : "Disabled"}}</md-switch>
                                    </md-input-container>
                                </div>
                                <md-button class="md-raised" ng-click="uc.putBuild(uc.changeBuild._id, build)">Save</md-button>
                                <md-button class="md-raised md-warn" ng-click="editBuild = ! editBuild; hideBuilds = ! hideBuilds">Cancel</md-button>
                            </div>
                        </md-content>
                    </div>
                </md-content>
            </form>
        </div> -->
    </li>
</ul>
<footer>
    <md-button class="md-abled md-raised"><a href="#/create">Create New Build</a></md-button>
</footer>