<div ng-include="'views/partials/nav.html'"></div>
<div class="btn-group">
    <a href="#/builds" class="btn btn-default active">My Builds</a>
    <a href="#/others" class="btn btn-default">See Others</a>
</div>
<h1>Create</h1>
    <form ng-submit="cc.newBuild(cc.UserService.userObject.buildsArray.buildsArray)">
            <md-content layout-gt-sm="row" layout-padding>
                <div>
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="cc.UserService.userObject.buildsArray.buildsArray.name">
                    </md-input-container>
                    <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                        <md-card-title>
                            <md-card-title-media>
                                <div class="md-media-sm card-media"></div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="uc.showPicker()">add image</md-button>
                        </md-card-actions>
                    </md-card>
                    <md-content layout-padding>
                        <div>
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>CPU</label>
                                    <input ng-model="cc.UserService.userObject.buildsArray.buildsArray.cpu">
                                </md-input-container>
                            </div>
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Motherboard</label>
                                    <input ng-model="cc.UserService.userObject.buildsArray.buildsArray.mobo">
                                </md-input-container>
                            </div>
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>RAM</label>
                                    <input ng-model="cc.UserService.userObject.buildsArray.buildsArray.ram">
                                </md-input-container>
                            </div>
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>CPU Fan</label>
                                    <input ng-model="cc.UserService.userObject.buildsArray.buildsArray.fan">
                                </md-input-container>
                            </div>
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Power Supply</label>
                                    <input ng-model="cc.UserService.userObject.buildsArray.buildsArray.psu">
                                </md-input-container>
                            </div>
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Graphics Card</label>
                                    <input ng-model="cc.UserService.userObject.buildsArray.buildsArray.gpu">
                                </md-input-container>
                            </div>
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Sound Card</label>
                                    <input ng-model="cc.UserService.userObject.buildsArray.buildsArray.sound">
                                </md-input-container>
                            </div>
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Case</label>
                                    <input ng-model="cc.UserService.userObject.buildsArray.buildsArray.case">
                                </md-input-container>
                            </div>
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Storage</label>
                                    <input ng-model="cc.UserService.userObject.buildsArray.buildsArray.storage">
                                </md-input-container>
                            </div>
                            <button class="btn-scccess" value="Add">Save</button>
                        </div>
                    </md-content>
                </div>
        </form>