<div ng-include="'views/partials/nav.html'"></div>
<!-- {{uc.parts.list}} -->
<h1>Edit</h1>
<div ng-repeat="build in uc.currentDetails">
    <!-- <form ng-model="uc.changeBuild"> -->
    <md-content layout-gt-sm="row" layout-padding>
        <div>
            <md-input-container>
                <label>Name</label>
                <input ng-model="build.name">
            </md-input-container>
            <md-content layout-padding>
                <!-- {{uc.parts.list}} -->
                <div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>CPU</label>
                            <md-select ng-model="build.cpu.name" aria-label="cpu">
                                <md-option ng-repeat="cpu in uc.parts.list" ng-if="cpu.type == 'cpu'" value="{{cpu.name}}">{{cpu.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Motherboard</label>
                            <md-select ng-model="build.mobo.name" aria-label="mobo">
                                <md-option ng-repeat="mobo in uc.parts.list" ng-if="mobo.type == 'mobo'" value="{{mobo.name}}">{{mobo.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>RAM</label>
                            <md-select ng-model="build.ram.name" aria-label="ram">
                                <md-option ng-repeat="ram in uc.parts.list" ng-if="ram.type == 'ram'" value="{{ram.name}}">{{ram.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>CPU Fan</label>
                            <md-select ng-model="build.fan.name" aria-label="fan">
                                <md-option ng-repeat="fan in uc.parts.list" ng-if="fan.type == 'fan'" value="{{fan.name}}">{{fan.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Power Supply</label>
                            <md-select ng-model="build.psu" aria-label="psu">
                                <md-option ng-repeat="psu in uc.parts.list" ng-if="psu.type == 'psu'" value="{{psu.name}}">{{psu.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Graphics Card</label>
                            <md-select ng-model="build.gpu" aria-label="psu">
                                <md-option ng-repeat="gpu in uc.parts.list" ng-if="gpu.type == 'gpu'" value="{{gpu.name}}">{{gpu.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Sound Card</label>
                            <md-select ng-model="build.sound" aria-label="sound">
                                <md-option ng-repeat="sound in uc.parts.list" ng-if="sound.type == 'sound'" value="{{sound.name}}">{{sound.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Case</label>
                            <md-select ng-model="build.case.name" aria-label="psu">
                                <md-option ng-repeat="case in uc.parts.list" ng-if="case.type == 'case'" value="{{case.name}}">{{case.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Storage</label>
                            <!-- <input ng-model="build.storage">
                            <select ng-model="build.storage"><option ng-repeat="storage in uc.parts.list" ng-if="storage.type == 'storage'">{{storage.name}}</option></select> -->
                            <md-select ng-model="build.storage" aria-label="psu">
                                    <md-option ng-repeat="storage in uc.parts.list" ng-if="storage.type == 'storage'" value="{{storage.name}}">{{storage.name}}</md-option>
                                </md-select>
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container>
                            <md-switch ng-model="build.sharing">Sharing {{build.sharing ? "Enabled" : "Disabled"}}</md-switch>
                        </md-input-container>
                    </div>
                    <md-button class="md-raised md-primary" ng-click="uc.putBuild(build._id, build)">
                        <md-icon class="material-icons">save</md-icon> Save</md-button>
                    <md-button class="md-raised md-warn" ng-click="uc.cancelBuild()">
                        <md-icon class="material-icons">close</md-icon> Cancel</md-button>
                    <!-- <md-button class="md-raised md-warn" ng-click="editBuild = ! editBuild; hideBuilds = ! hideBuilds">Cancel</md-button> -->
                </div>
            </md-content>
        </div>
    </md-content>
    <!-- </form> -->
</div>