<div ng-include="'views/partials/nav.html'"></div>
<!-- <md-button href="#/builds" md-no-ink class="md-primary md-raised">My Builds</md-button>
<md-button href="#/others" ng-disabled="true" class="md-primary md-raised">See Others</md-button> -->
<h1>See Others</h1>
<!-- {{uc.userService.otherBuilds}} -->
<!-- <ul ng-repeat="build in uc.userService.otherBuilds">
    <div ng-if="build.sharing == true">
        <md-button class="md-raised md-primary " ng-click="showBuild = ! showBuild">{{build.name}}</md-button>
        <div ng-show="showBuild">
            <p>{{build.cpu}}</p>
            <p>{{build.mobo}}</p>
            <p>{{build.ram}}</p>
            <p>{{build.fan}}</p>
            <p>{{build.gpu}}</p>
            <p>{{build.psu}}</p>
        </div>
    </div>
</ul> -->
<ul ng-repeat="build in uc.userService.otherBuilds">
    <div ng-if="build.sharing == true">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{build.name}}</span>
                    <span class="md-subhead"></span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media"><img ng-src="{{build.img}}"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="column" layout-align="center center">
                <md-button class="md-raised md-primary" ng-click="showBuild = ! showBuild">Show Details</md-button>
            </md-card-actions>
        </md-card>
        <li>
            <!-- <md-button class="md-raised md-primary" ng-click="showBuild = ! showBuild">{{build.name}}</md-button> -->
            <div ng-show="showBuild">
                <md-content>
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <label class="buildLabel">CPU</label>
                                <div>{{build.cpu.name}}</div>
                            </div>
                            <!-- {{build.cpu.socket}} {{build.mobo.socket}} -->
                        </md-list-item>
                    </md-list>
                </md-content>
                <md-content>
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <label class="buildLabel">Motherboard</label>
                                <div>{{build.mobo.name}}</div>
                            </div>
                        </md-list-item>
                    </md-list>
                    <div class="incompatible" ng-show="build.cpu.socket != build.mobo.socket">
                        <md-icon class="material-icons" class="incompatible">warning</md-icon> CPU({{build.cpu.socket}}) and Motherboard({{build.mobo.socket}}) are incompatible</div>
                </md-content>
                <md-content>
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <label class="buildLabel">Ram</label>
                                <div>{{build.ram.name}}</div>
                            </div>
                        </md-list-item>
                        <div class="incompatible" ng-show="build.mobo.memory != build.ram.socket">
                            <md-icon class="material-icons" class="incompatible">warning</md-icon> RAM({{build.ram.socket}}) and Motherboard({{build.mobo.memory}}) are incompatible</div>
                    </md-list>
                </md-content>
                <md-content>
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <label class="buildLabel">CPU Fan</label>
                                <div>{{build.fan.name}}</div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
                <md-content>
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <label class="buildLabel">Graphics Card</label>
                                <div>{{build.gpu}}</div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
                <md-content>
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <label class="buildLabel">Power Supply</label>
                                <div>{{build.psu}}</div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
                <md-content>
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <label class="buildLabel">Sound Card</label>
                                <div>{{build.sound}}</div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
                <md-content>
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <label class="buildLabel">Case</label>
                                <div>{{build.case.name}}</div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </li>
    </div>
</ul>